[2018-09-10 20:38] vincentvanhees opened #10 "GGIR: An R package for multi-data high resolution accelerometer data analysis"
**Title:**
GGIR: An R package for multi-data high resolution accelerometer data analysis

**Abstract:**
R package GGIR converts multi-day high resolution raw data from wearable movement sensors
into insightful reports for researchers investigating human daily physical activity and sleep. The
package includes a range of literature supported methods to process, clean and analyse the data and
provide

[2018-09-13 15:01] vincentvanhees opened #12 "mcfly software paper"
Title: Deep learning for time series made easy

Abstract: https://blog.esciencecenter.nl/mcfly-time-series-classification-made-easy-e47de8d29838

Editor: ? (Atze maybe? I also submitted an idea for another paper, if needed I can also be involved a bit in this one)

Note: Mcfly does not have shown impact, which may make it make challenging to demonstrate (potential) value.

[2018-09-13 15:02] sverhoeven opened #13 "jupyterlab_thredds"
Create a paper of https://github.com/eWaterCycle/jupyterlab_thredds

It is a JupyterLab extension which has dataset browser for THREDDS catalog

Can inject iris/xarray/leaflet code cells into a Python notebook of a selected dataset to further process/visualize the dataset.

[2018-09-13 15:08] goord opened #14 "OMUSE wrapper for DALES"
In the Cloud-resolving modeling project we have planning to write a software paper on the OMUSE interface for the Dutch Atmospheric Large Eddy Simulation (DALES). This MPI-parallel Fortran code is exposed as a python object through this interface and can be manipulated programmatically and dynamically from within e.g. a Jupyter Notebook. This should make setting up test cases for the program much

[2018-09-13 15:10] jspaaks commented on #13
I may be able to help you compose some blurps for the RSD, which could serve as a start for (the abstract of) the paper.

[2018-09-13 15:14] jspaaks commented on #10
In my opinion, (1) should definitely go beyond a simple screencast, I'm thinking more along the lines of what we did for eWaterCycle. Maybe ask Lode or Frank about the budget that is available for this type of thing.

[2018-09-13 15:19] sverhoeven opened #15 "experiment-launcher"
A webservice to generate and launch a Jupyter notebook.

See https://github.com/eWaterCycle/experiment-launcher

[2018-09-13 15:21] sverhoeven commented on #15
@nielsdrost quoted: It is wizard for a notebook

[2018-09-13 15:39] Tommos0 opened #16 "Visual Storytelling"
https://visualstorytelling.github.io/brainvis/
https://github.com/visualstorytelling

Tom + Stefan + Maarten

[2018-09-13 15:44] nielsdrost commented on #15
Great idea. Should also include the "bigger picture" in the paper, including the explorer that calls the generator service.

[2018-09-13 15:44] romulogoncalves opened #17 "3De-e-Chem"
# 3De-e-Chem demo

For the project http://3d-e-chem.github.io/ multiple KNIME workflows and nodes where written. They are described in 2 papers: http://dx.doi.org/10.1021/acs.jcim.6b00686 and http://dx.doi.org/10.1002/cmdc.201700754.

A Vagrant virtual machine (https://3d-e-chem.github.io/3D-e-Chem-VM/) has been made with KNIME, the workflows and nodes installed in it.

For the eScience symposium

[2018-09-13 15:45] nielsdrost opened #18 "grpc-bmi-containers"
A paper on how the combination of grpc, bmi, and docker, makes for a really nice way to share geo models with others (and makes them reproducable, etc)

Main author tbd.

[2018-09-13 15:48] nielsdrost opened #19 "Fair eWaterCycle I"
The outcome of the EOSCPilot Hydro project could also lead to a paper (and a demo)

Main point is how to make an entire scientific software pipeline FAIR.

Includes Cylc, CWL, Docker, Singularity, OneData, and Notebooks.

Main author tbd.

[2018-09-13 16:05] romulogoncalves opened #20 "Allelic Variant Explorer"
# Allelic Variant Explorer demo

The Allelic Variation Explorer (AVE) is a web application to visualize (clustered) single-nucleotide variants across genomes.

There is a Docker image with the application and a sample dataset at https://github.com/nlesc-ave/ave-demo

This Docker images is for showing the application works, to create a proper demo a scientific storyboard has to be written.

The sto

[2018-09-14 08:57] HannoSpreeuw opened #22 "EOSCPfL"
The outcome of the EOSCPilot for LOFAR project could also lead to a paper (and a demo).

The goal of this project is to unlock the [LOFAR Long Term Archive (LTA)](https://lta.lofar.eu/).
It contains > 28 PB of LOFAR observations as visibility datasets with almost zero scientific output.
Almost all astronomical science starts with sky images, so these datasets have to be calibrated and imaged. But

[2018-09-14 12:29] isazi opened #23 "AMBER: Apertif Monitor for Bursts Encountered in Real-Time"
**Title**: AMBER, the Apertif Monitor for Bursts Encountered in Real-Time

**Software Package**: [AMBER](https://github.com/AA-ALERT/AMBER)

**Editor**: myself

**Notes**: AMBER is the real-time pipeline for detecting Fast Radio Bursts in real-time developed for the AA-ALERT project.

[2018-09-14 14:54] bouweandela opened #24 "Satsense"
Title: tbd
Software: https://github.com/dynaslum/satsense
Authors: Berend, Bouwe, Elena, ..

Bouwe will write the paper. Software could be ready for publication by the end of 2018.

[2018-09-17 07:46] felipeZ opened #25 "QMFlows: Automatic Workflow in quantum Chemistry"
**Title**: QMFlows: Automatic Workflow in quantum Chemistry

**Editor**: Felipe Zapata

**about**: This library tackles the construction and efficient execution of computational chemistry workflows

[2018-09-17 11:40] cwmeijer opened #26 "LaserChicken - Feature calculation for ALS point clouds"
Title: LaserChicken - Feature calculation for ALS point clouds

Editor: me

About: LaserChicken, a tool that finds nearest neighbors and describes them through feature vectors. A few dozen features have already been implemented and more will follow in later releases.

[2018-09-17 14:29] romulogoncalves commented on #25
@felipeZ will you be at the Sprint? In the list of participants you said `0`, i.e., not joining.

[2018-09-17 14:35] romulogoncalves commented on #19
@nielsdrost since you can't coordinate two papers, you already have #18 to who should we assign the leadership of this paper? Of do you want to move it to another Sprint?

[2018-09-17 14:35] felipeZ commented on #25
@romulogoncalves, yes I am participating. I misunderstood the instructions :)

[2018-09-17 14:39] romulogoncalves commented on #20
@sverhoeven you are already in a demo #17 , do you plan to do both? If not, to who can we assign this one since the other one is considered high priority?

[2018-09-17 14:42] romulogoncalves opened #28 "ViaAppia"
Revive the ViaAppia demo.

[2018-09-17 14:44] romulogoncalves opened #29 "Case Law"
We need a demo about the CaseLaw project. We need a little description about the demo.

@dafnevk

[2018-09-17 14:46] romulogoncalves opened #31 "UncertaintyViz"
Can someone give details about this demo? To who should we assign it?

[2018-09-17 14:52] romulogoncalves commented on #15
@sverhoeven @nielsdrost who could lead this paper?
You are already involved in #13 and #18 papers.

[2018-09-17 14:53] romulogoncalves commented on #28
@Maartenvm do you want to lead this demo?

[2018-09-17 14:56] fdiblen opened #32 "SPOT demo"
# Sprint Name
SPOT-If-I...
# Team leader
Faruk
# Target project
IDARK / SPOT
# Expertise required
- Ability to use a web browser, keyboard and mouse
# Size of team
3 - 5
# Description
[SPOT](https://github.com/nlesc/spot) is a generic visual data analytics tool for multi-dimensional
datasets. Although, it was primarily developed for High Energy Physics project [IDARK](https://www.esciencecenter.nl

[2018-09-17 15:00] romulogoncalves commented on #16
@Tommos0 @Maartenvm @sverhoeven should we go for a demo or paper? I think a paper since you already have #31 demo and that one is marked as `high priority`

[2018-09-18 13:30] romulogoncalves opened #33 "Publications from January 2014 until June 2018"
* We need a list of all publications which are listed in the projects report from January 2014 until June 2018.
* Check if all are in Zotero.
* Check what is in Zotero and not in this list and if it should be there.
* Go after publications which are not listed in the final reports.
* Publications of project which do not have a final report, i.e., either projects for which a report was not created

[2018-09-18 13:44] jmaassen commented on #33
My opinion is that we should add everything, peer reviewed papers, non-peer reviewed papers/abstracts, blogs, tweets, etc. but we should tag it in zotero in such a way that we can filter it later.

[2018-09-18 15:40] romulogoncalves opened #34 "RSD update"

[2018-09-18 16:14] romulogoncalves commented on #20
#27 #21

[2018-09-19 09:00] sverhoeven commented on #17
Kind of support:
* someone with drug design or bio/chem knowledge

[2018-09-19 11:17] romulogoncalves commented on #15
@sverhoeven @nielsdrost could we merge this paper with #13? If yes, and since Niels has a nice view of the "bigger picture", I would say Niels would lead the writing of such paper and we would move #18 grpc-bmi-containers to another session.

What do you think?

[2018-09-19 11:19] dafnevk commented on #29
The case law visualization shows a network of dutch court decisions with references between them. The visualization is [hosted on github pages](https://nlesc.github.io/case-law-app/). It is possible to upload different networks, but those need to be created with the [caselawnet software](https://github.com/caselawanalytics/CaseLawAnalytics), that is not so demo-ready (and requires login).

Possibl

[2018-09-20 08:26] sonjageorgievska opened #35 "Crowd simulation + Monte Carlo methods"
Goal: In order to complete an existing manuscript, we need to perform validation of the method by simulation. Sonja + 1 or 2 persons with background in analytics/statistics would be enough.

Background: We have data about estimations of concert visitors'positions using Wi-Fi technology and their smart phones in (then) Amsterdam Arena. The data comes with a lot of errors and uncertainties. We have

[2018-09-20 13:52] romulogoncalves opened #36 "NLeSC social media impact analysis"
Analyze the impact of the Netherlands eScience Center on Twitter. Create data visualizations showing tweets, retweets, mentions and hastags over time. Link data to relevant events.

[2018-09-20 14:02] romulogoncalves commented on #19
@c-martinez and @MartineDeVos can provide help and feedback.

[2018-09-20 14:08] c-martinez opened #37 "Demo for Grlc"
Might be nice to also have a demo on how https://github.com/CLARIAH/grlc/ is used.

There is a version for CandyGene which I had prepared together with @arnikz. Perhaps that is a good starting point?

[2018-09-20 14:30] romulogoncalves opened #38 "Ecosystems network"
Please update the title and give a little description about the paper. I need to have an issue open to assign people, but I do not know the details of the work.

[2018-09-20 17:49] eriktks opened #39 "NLeSC social media impact analysis"
Analyze the impact of the Netherlands eScience Center on Twitter. Create data visualizations showing  tweets, retweets, mentions and hastags over time. Link data to relevant events.

[2018-09-20 17:50] #39 closed

[2018-09-20 17:53] eriktks commented on #36
Analyze the impact of the Netherlands eScience Center on Twitter. Create data visualizations showing tweets, retweets, mentions and hastags over time. Link data to relevant events.

[2018-09-21 08:31] florian-huber commented on #36
Not sure at what stage this project is. But there's quite a lot of open APIs or wrappers such as
- tweedy (python) https://github.com/tweepy/tweepy
- twython (python) https://github.com/ryanmcgrath/twython

And also some nice introductions (here an example for twython): https://stackabuse.com/accessing-the-twitter-api-with-python/
(more complete list of options: https://developer.twitter.com/en/do

[2018-09-21 12:58] fdiblen commented on #36
@romulogoncalves @eriktks
Would be nice to work together during the sprint. Maybe we can create these visualizations together.
Please see the issue #32

[2018-10-01 07:36] isazi commented on #23
Asked Ben for comments, will submit after his comments are implemented.

[2018-10-02 13:29] romulogoncalves commented on #35
For the 4 days of the sprint the people to who this issue is assigned should report hours on:
crowd simulation project (@sonjageorgievska what is the project code)

For extra work you need to request time to the tech leads by sending an email to techleads@esciencecenter.nl

[2018-10-02 13:29] romulogoncalves commented on #34
For the 4 days of the sprint the people to who this issue is assigned should report hours on:
eStep RSD

For extra work you need to request time to the tech leads by sending an email to techleads@esciencecenter.nl

[2018-10-02 13:31] romulogoncalves commented on #33
For the 4 days of the sprint the people to who this issue is assigned should report hours on:
eStep

Only report the days you were present at the Sprint.

For extra work you need to request time to the tech leads by sending an email to techleads@esciencecenter.nl

[2018-10-02 13:33] romulogoncalves commented on #32
For the 4 days of the sprint the people to who this issue is assigned should report hours on:
iDark (@fdiblen what is the project code)

Only report the days you were present at the Sprint. If you switched teams, report that days in the project specified in the issue related with it.

For extra work you need to request time to the tech leads by sending an email to techleads@esciencecenter.nl

[2018-10-02 13:34] romulogoncalves commented on #29
For the 4 days of the sprint the people to who this issue is assigned should report hours on:
eStep

Only report the days you were present at the Sprint. If you switched teams, report that days in the project specified in the issue of that team.

For extra work you need to request time to the tech leads by sending an email to techleads@esciencecenter.nl

[2018-10-02 13:34] romulogoncalves commented on #28
For the 4 days of the sprint the people to who this issue is assigned should report hours on:
eStep

Only report the days you were present at the Sprint. If you switched teams, report that days in the project specified in the issue of that team.

For extra work you need to request time to the tech leads by sending an email to techleads@esciencecenter.nl

[2018-10-02 13:35] romulogoncalves commented on #26
For the 4 days of the sprint the people to who this issue is assigned should report hours on:
eEcolidar (@cwmeijer what is the project code).

Only report the days you were present at the Sprint. If you switched teams, report that days in the project specified in the issue of that team.

For extra work you need to request time to the tech leads by sending an email to techleads@esciencecenter.nl

[2018-10-02 13:35] romulogoncalves commented on #23
For the 4 days of the sprint the people to who this issue is assigned should report hours on:
AA-ALERT project (@isazi what is the project code?)

Only report the days you were present at the Sprint. If you switched teams, report that days in the project specified in the issue of that team.

For extra work you need to request time to the tech leads by sending an email to techleads@esciencecenter.n

[2018-10-02 13:38] romulogoncalves commented on #19
For the 4 days of the sprint the people to who this issue is assigned should report hours on:
FlagShip (@nielsdrost do you agree with it? If yes, what is the project code?)

Only report the days you were present at the Sprint. If you switched teams, report that days in the project specified in the issue of that team.

For extra work you need to request time to the tech leads by sending an email to

[2018-10-02 13:39] romulogoncalves commented on #17
For the 4 days of the sprint the people to who this issue is assigned should report hours on:
eStep

Only report the days you were present at the Sprint. If you switched teams, report that days in the project specified in the issue of that team.

For extra work you need to request time to the tech leads by sending an email to techleads@esciencecenter.nl

[2018-10-02 13:39] romulogoncalves commented on #14
For the 4 days of the sprint the people to who this issue is assigned should report hours on:
CloudResolving (@goord what is the project code?)

Only report the days you were present at the Sprint. If you switched teams, report that days in the project specified in the issue of that team.

For extra work you need to request time to the tech leads by sending an email to techleads@esciencecenter.nl

[2018-10-02 13:40] romulogoncalves commented on #12
Project moved to November Sprint.

[2018-10-02 13:40] romulogoncalves commented on #10
For the 4 days of the sprint the people to who this issue is assigned should report hours on:
eStep Research

Only report the days you were present at the Sprint. If you switched teams, report that days in the project specified in the issue of that team.

For extra work you need to request time to the tech leads by sending an email to techleads@esciencecenter.nl

[2018-10-02 13:41] romulogoncalves commented on #18
For the 4 days of the sprint the people to who this issue is assigned should report hours on:
FlagShip (@nielsdrost do you agree with it? If yes, what is the project code?)

Only report the days you were present at the Sprint. If you switched teams, report that days in the project specified in the issue of that team.

For extra work you need to request time to the tech leads by sending an email to

[2018-10-04 09:11] romulogoncalves commented on #36
@eriktks could you write down here a little summary about your findings and append the presentation slides you showed to us in the end of the Sprint?

Once you have done it, I will close the issue.
Thanks a lot for the great work.

[2018-10-04 09:11] romulogoncalves commented on #34
@jspaaks  could you write down here a little summary about your findings and append the presentation slides you showed to us in the end of the Sprint?

Once you have done it, I will close the issue.
Thanks a lot for the great work.

[2018-10-04 09:11] romulogoncalves commented on #33
@jiskattema could you write down here a little summary about your findings and append the presentation slides you showed to us in the end of the Sprint?

Once you have done it, I will close the issue.
Thanks a lot for the great work.

[2018-10-04 09:13] romulogoncalves commented on #38
@LourensVeen once the paper is submitted, please let us by a comment on this issue and close the issue.

[2018-10-04 09:14] romulogoncalves commented on #26
@cwmeijer once the paper is submitted, please let us through a comment on this issue and close the issue.

[2018-10-04 09:14] romulogoncalves commented on #23
@isazi once the paper is submitted, please let us through a comment on this issue and close the issue.

[2018-10-04 09:14] romulogoncalves commented on #14
@goord once the paper is submitted, please let us through a comment on this issue and close the issue.

[2018-10-04 09:14] romulogoncalves commented on #10
@vincentvanhees once the paper is submitted, please let us through a comment on this issue and close the issue.

[2018-10-04 09:18] romulogoncalves commented on #29
@dafnevk, please let us know if you extra time work in the content of the story line and external help (someone with specific expertise) to solve technical issues in the demo.

[2018-10-04 09:19] romulogoncalves commented on #32
@fdiblen please let us know if you extra time work in the content of the story line and external help (someone with specific expertise) to solve technical issues in the demo.

[2018-10-04 09:19] romulogoncalves commented on #17
@sverhoeven please let us know if you extra time work in the content of the story line and external help (someone with specific expertise) to solve technical issues in the demo.

[2018-10-04 09:57] vincentvanhees commented on #10
@florian-huber
 - Can you close this issue when the paper is submitted next week? (I will be on annual leave)
- Could you also please send the video urls to Tom Bakker, Lode Kulik, and Techleads as they may want to include them in the self-assessment report.

Thanks for your help!

[2018-10-05 16:46] eriktks commented on #36
code and graphs can be found on https://github.com/teamproject2018-09

[2018-10-08 12:58] #36 closed

[2018-10-08 13:40] cwmeijer commented on #26
First version of paper was completed during the sprint. We are in the process of asking all the possible co-authors whether they want to participate after which we will need to do a review round for all 12-14 authors.

I short, we are currently not spending many hours and are mostly waiting a lot for people to respond.

[2018-10-08 14:04] felipeZ commented on #25
we will submit the papers in a couple of weeks

[2018-10-08 14:04] #25 closed

[2018-10-08 20:14] nielsdrost commented on #19
Hours for this team should be written on the EOSCPilot Hydro project. This is not yet a code in exact, but should be. Operations is looking into it at the moment.

[2018-10-10 13:11] dafnevk commented on #29
At this moment, I don't think extra technical expertise is required. It would be good to spend a few days going over content again and to record a screencast.

I have a question: Is there some central place (maybe on the OneDrive?) where we can store the powerpoint with notes for the demo?

[2018-10-11 14:51] florian-huber commented on #10
Brief update... the two videos we made during the sprint are now on the eScience Center Youtube channel:
https://www.youtube.com/watch?v=RuFBCAqFJ2M
https://www.youtube.com/watch?v=S8YPTrYNWdU&t=187s

The submission of the manuscript is nearly done. Jairo still needs a cover letter though.

[2018-10-11 15:40] jspaaks commented on #10
Cool stuff! Would somebody please add the videos to Zotero (then wait for zotero to sync with the RSD admin overnight and) then include these two videos as _mentions_ for GGIR here https://www.research-software.nl/admin/software/wadpac-ggir

[2018-10-15 08:10] romulogoncalves commented on #38
Paper was submitted.

[2018-10-15 08:10] #38 closed

[2018-10-15 08:11] romulogoncalves commented on #34
@jspaaks would it be possible to append your presentation? I would like to close the issue.

[2018-10-15 08:11] romulogoncalves commented on #33
@jiskattema have we processed all the email about publications?
Could you add some numbers here about your findings?

[2018-10-15 08:12] #32 closed

[2018-10-15 08:16] romulogoncalves commented on #26
@cwmeijer let me know once the paper is submitted to close the issue.

[2018-10-15 08:17] romulogoncalves commented on #23
@isazi we would like to know if the paper was submitted?

[2018-10-15 08:19] romulogoncalves commented on #10
@florian-huber Once submitted, could you close the issue?

[2018-10-15 08:40] isazi commented on #23
It was not, we are still waiting for comments.

[2018-11-06 14:02] romulogoncalves commented on #23
@isazi could you let us know if the paper was submitted?
Thanks

[2018-11-06 14:03] romulogoncalves commented on #33
All the information should be by now in the evaluation report.
The issue can be closed.

[2018-11-06 14:03] #33 closed

[2018-11-06 14:03] romulogoncalves commented on #34
All the information should be by now in the evaluation report.
The issue can be closed.

[2018-11-06 14:03] #34 closed

[2018-11-06 14:03] romulogoncalves commented on #26
@cwmeijer could you let us know if the paper was submitted?
Thanks.

[2018-11-06 14:03] romulogoncalves commented on #14
@goord could you let us know if the paper was submitted?
Thanks.

[2018-11-06 14:04] romulogoncalves commented on #35
@sonjageorgievska could you let us know if the paper was submitted?
Thanks.

[2018-11-06 14:06] romulogoncalves commented on #22
@HannoSpreeuw is this proposal still up for Team2018 November Sprint?

[2018-11-06 14:06] romulogoncalves commented on #37
@c-martinez is this proposal still up for Team2018 November Sprint?

[2018-11-06 14:07] romulogoncalves commented on #12
@vincentvanhees @cwmeijer is this proposal still up for Team2018 November Sprint?

[2018-11-06 14:07] romulogoncalves commented on #24
@bouweandela is this proposal still up for Team2018 November Sprint?

[2018-11-06 14:07] romulogoncalves commented on #19
@nielsdrost is this proposal still up for Team2018 November Sprint? Or do you have other suggestions?

[2018-11-06 14:09] cwmeijer commented on #26
We just got some first feedback from project partners. It will take quite some time to make requested changes and even discuss all their comments with them. After that, there are 8 more coauthors that need to have a chance to review it.
I'll notify you when it is submitted.

[2018-11-06 14:22] goord commented on #14
Hi Romulo,
The paper is not yet submitted, I still need a couple of days to work on it.

[2018-11-06 14:42] c-martinez commented on #37
Yeah, it would still be nice (and there is still no demo available).

[2018-11-06 14:46] cwmeijer commented on #12
I won't be participating in next sprint as I'm moving in that period.
So, yes, I think the proposal is still a good idea, but unfortunately I can't contribute.

[2018-11-06 17:00] bouweandela commented on #24
@romulogoncalves Yes

[2018-11-07 10:14] HannoSpreeuw commented on #22
Yes. Very much so. But there also remains some software work to be done. Which I hope to complete before the sprint.

[2018-11-08 09:00] isazi commented on #23
Now that the eScience conference is over Ben has more time and should be able to give comments on the paper, and then we will submit it to SoftwareX.

[2018-11-12 09:59] vincentvanhees commented on #12
I asked Sonja to investigate this while I was a away, but as far as I know that did not result in a concrete plan of action. So, I am worried now that it is too late to organize something. On top of that I have a lot of other work on my plate.

Moving forward: It may help if MT/TL could make an engineer responsible for mcfly and give him/her hours and T&D targets. It may be even better to make thi

[2018-11-12 15:03] HannoSpreeuw commented on #22
But there may be an issue. The software is very immature and was mainly developed to explore new technologies. We cannot show any impact of the software on potential users yet.
I.e. did these applications really unlock the LOFAR LTA? It is way too early for that.

[2018-11-13 12:55] vincentvanhees commented on #12
We probably need to update the Wageningen group about what is happening. If nobody is interested and able to continue these efforts then I think Wouter or I need to e-mail the Wageningen group and thank them for their interest but that we are not able to organise this collaboration for the foreseeable future.

[2018-11-13 13:15] romulogoncalves commented on #35
@sonjageorgievska would you like to use the November Sprint to finish the paper? Do you have hours for it?

@bldevries-escience would you be willing to help Sonja to finish it since you were there in the last Sprint?

[2018-11-13 13:17] romulogoncalves commented on #37
@c-martinez could you provide a list of people who have worked with Grlc?

[2018-11-13 13:22] romulogoncalves opened #40 "AHN2 + Kadastral data"
@meiertgrootes Elena proposed such work for the November sprint. Could you elaborate a bit more about needs to be achieved?

[2018-11-13 13:35] romulogoncalves opened #41 "ReciPy"
@jvdzwaan could you elaborate a bit on what ReciPy can do and what we could do during the Sprint?
Who else has worked with ReciPy?
What is the best label for it `Software dev` or `Soft/Meth Paper`?

[2018-11-13 13:35] meiertgrootes commented on #40
Hi Romulo,

The basic goal is to use the kadaster data to classify all points in AHN2 and AHN3 into, e.g. road, water, building, other. The Challenge here is to filter the point cloud data through the polygons provided in the Kadaster files as efficiently as possible to avoid excessive computational times. After a previous conversation with you and Jisk I had gathered that there is experience at t

[2018-11-13 13:37] romulogoncalves opened #42 "Support Vector Machine to classify protein-protein interfaces"
@NicoRenaud could you provide a bit more info about the paper you will work on? Would some help be welcomed or do you plan to work alone on it?

[2018-11-13 13:38] romulogoncalves opened #43 "Paper: Exascale literature study"
@stijnh Jason has suggested that you will be working on a paper during the Sprint. Could you give us a bit more information about it, little title (issue subject) and what will it be about?

[2018-11-13 13:40] romulogoncalves opened #44 "RSD Part 2"
RSD November Sprint.

@jmaassen will you together with @jspaaks fill in the info about this issue?

[2018-11-13 13:42] romulogoncalves opened #45 "AMUSE"
@ipelupessy it seems there was a suggestion to work on `AMUSE` during the November Sprint, could you provide us some information?

[2018-11-13 13:44] romulogoncalves commented on #12
For this Sprint @vincentvanhees is available 4 days, @florian-huber is availabel 4 days and @dafnevk will be available 2 days.

What could be done during the November Sprint with what you have right now and the above team?

[2018-11-13 13:44] sverhoeven commented on #13
Just me.

[2018-11-13 13:47] romulogoncalves commented on #17
@sverhoeven @ridderl during the November Sprint we will use Monday and Tuesday to work on the demo. Monday to polish the script and train presentation. Tuesday and external professional in presentations will give us advise on how to do it. We are still fine tuning what will happen during theses two days. Once we have more information we will let you know.

For Wednesday and Thursday you are free t

[2018-11-13 13:48] romulogoncalves commented on #29
@dafnevk @jvdzwaan during the November Sprint we will use Monday and Tuesday to work on the demo. Monday to polish the script and train presentation. Tuesday and external professional in presentations will give us advise on how to do it. We are still fine tuning what will happen during theses two days. Once we have more information we will let you know.

For Wednesday and Thursday you are free to

[2018-11-13 13:49] romulogoncalves commented on #28
@Maartenvm @romulogoncalves during the November Sprint we will use Monday and Tuesday to work on the demo. Monday to polish the script and train presentation. Tuesday and external professional in presentations will give us advise on how to do it. We are still fine tuning what will happen during theses two days. Once we have more information we will let you know.

For Wednesday and Thursday you are

[2018-11-13 13:52] dafnevk commented on #29
Maybe two days is a bit much to work on the case law demo, unless you (or anyone else) has very concrete suggestions what to work on. We already spent quite some time on polishing the script last sprint. Is it useful to maybe only spend the Tuesday, with this external person, on Case law?
Other than that, I can imagine that it might be useful to make a screencast of the demo part (but I'm not sure

[2018-11-13 13:55] romulogoncalves commented on #13
@sverhoeven  during the Sprint please decide if you want to merge with #15 or co-author it.

[2018-11-13 13:57] romulogoncalves commented on #29
@dafnevk that's a very good proposal. For now we brought it down from 4 to 2 days. Maybe just Tuesday would not be a bad idea. More info by the end of the week.

[2018-11-13 13:59] vincentvanhees commented on #12
Possibly:
- Draft paper and see how far we get.
- Turn [this](https://zenodo.org/record/1160410#.W-rWd5NKguU) public dataset into a first benchmark, because it is a simple time window classification task in line with what mcfly expects. My idea was to let the post-doc on the Lilly project explore this, but we could make a start during the sprint and when the post-doc start she can continue these e

[2018-11-13 14:42] jvdzwaan commented on #41
Recipy is a Python package that automatically logs provenance information of Python scripts and notebooks. Github repo is https://github.com/recipy/recipy

The main feature is that recipy automatically tracks which files you open and which files you save. This helps people remembering/reconstructing what they did/how certain output was produced.

The use case is python scripts/notebooks, it doesn'

[2018-11-13 14:44] HannoSpreeuw commented on #22
What is `Progress`?

[2018-11-13 14:50] HannoSpreeuw commented on #22
@romulogoncalves yes, it looks like we're going to do `Software development`.

[2018-11-13 14:50] romulogoncalves commented on #22
`PROCESS` is the name of the project.

[2018-11-13 14:54] romulogoncalves commented on #29
@dafnevk @jvdzwaan during the November Sprint we will use either Monday or Tuesday to work on the demo. The idea is to fine tune the story line and presentation with the help of an external expert. Once we have more information we will let you know.

For all other days you are free to either join another team or lead one.

[2018-11-13 15:15] c-martinez commented on #37
In general? Or at NLESC?

[2018-11-13 15:16] romulogoncalves commented on #37
NLeSC

[2018-11-13 15:21] c-martinez commented on #37
@arnikz , @MartineDeVos , @bpmweel , and maybe @dafnevk have used grlc at some point. Guys, correct me if  I'm wrong.

[2018-11-14 12:35] ipelupessy commented on #45
yes, I also think this is a good idea, this would be a continuation of the work started in the june sprint
(https://github.com/amusecode/amuse/projects/1). Some issues we couldn't work on then are still open. Furthermore, there is an amuse-framework repository now, used in the ewaterycle project. It basically needs to be cleaned up and and the various variants (AMUSE, OMUSE and HyMUSE) need to tak

[2018-11-14 13:17] NicoRenaud commented on #42
@romulogoncalves the paper is on a graph-based method using Support Vector Machine to classify protein-protein interfaces.

The software compute graphs of protein interfaces, kernels between pairs of graphs and use the kernels to train a model with SVM (using libsvm under the hood). The model can then used to predict the quality of new protein interfaces. A simple command line interface greatly fa

[2018-11-15 08:23] romulogoncalves commented on #45
@ipelupessy could you tell me who was working on it in June?

[2018-11-15 08:38] romulogoncalves commented on #12
@vincentvanhees I think we really need to get it out of the ground.
@dafnevk will be available 3 days and not only 2 days.

@florian-huber would it be ok for you to work on this paper?

[2018-11-15 09:23] vincentvanhees commented on #12
Just discussed it with Dafne and it looks like we have a plan.
@romulogoncalves we may like to have one virtual machine to run the evaluation in the second half of the week, can you organise this for all the sprints collectively or should organise this ourselves?

[2018-11-15 09:26] romulogoncalves opened #46 "Paper 3"
@ridderl just for the records, could you then give a title and 2 lines summary about the paper?

[2018-11-15 09:47] ipelupessy commented on #45
Patrick, Evert, Alessio (1day) and myself

[2018-11-15 10:02] stijnh commented on #43
I will continue working on my literature study into exascale computing as part of project PROCESS (EU H2020 project involving Jason).

[2018-11-15 10:39] romulogoncalves commented on #46
@ridderl is there project hours for this work? If yes, which one?

[2018-11-15 10:40] romulogoncalves commented on #44
@jspaaks  is there project hours for this work? If yes, which one?
jspaaks says: R&D

[2018-11-15 10:40] romulogoncalves commented on #45
@ipelupessy  is there project hours for this work? If yes, which one?

[2018-11-15 10:40] romulogoncalves commented on #43
@stijnh  is there project hours for this work? If yes, which one?

[2018-11-15 10:41] romulogoncalves commented on #42
@NicoRenaud  is there project hours for this work? If yes, which one?

[2018-11-15 10:41] romulogoncalves commented on #41
@jvdzwaan  is there project hours for this work? If yes, which one?

[2018-11-15 10:41] romulogoncalves commented on #40
@meiertgrootes @elboyran  is there project hours for this work? If yes, which one?

[2018-11-15 10:41] romulogoncalves commented on #37
@c-martinez  is there project hours for this work? If yes, which one?

[2018-11-15 10:41] romulogoncalves commented on #24
@bouweandela  is there project hours for this work? If yes, which one?

[2018-11-15 10:42] romulogoncalves commented on #22
@HannoSpreeuw  is there project hours for this work? If yes, which one?

[2018-11-15 10:42] ipelupessy commented on #45
I think last time it was done on eWatercycle hours, but I think the idea was to do it partially on eStep and/ or cloud hours

[2018-11-15 10:43] elboyran commented on #40
I told you there are.
eEcoLIDAR project hours.
We need Jisk in our team.

Regards,
Elena

From: Romulo Goncalves <notifications@github.com>
Sent: donderdag 15 november 2018 11:42
To: NLeSC/TEAM2018 <TEAM2018@noreply.github.com>
Cc: Elena Ranguelova <e.ranguelova@esciencecenter.nl>; Mention <mention@noreply.github.com>
Subject: Re: [NLeSC/TEAM2018] AHN2 + Kadastral data (#40)

@meiertgrootes<https:

[2018-11-15 10:44] romulogoncalves commented on #18
@goord @MartineDeVos (you are the team leaders) could you sync with @nielsdrost and see where the hours can be reported? If you are too many, please let us know so we can re-assign people to another team.

[2018-11-15 10:44] bouweandela commented on #24
@romulogoncalves Yes, satsense is created for the Dynaslum project.

[2018-11-15 10:44] jvdzwaan commented on #41
I don't think so. The recent work on recipy was done within eWaterCycle II, but as I mentioned before, I'm not sure recipy is going to be there used after all.

[2018-11-15 10:44] rzinkstok opened #47 "EYRA benchmark platform MVP"
The Nijmegen Diagnostic Image Analysis Group has created the grand-challenge.org website for hosting benchmark challenges in the medical imaging domain. We want to extend this platform to become a multi/cross-domain benchmark challenge platform. In a previous sprint, a demo version of the grand-challenge.org site was deployed on a HPC cloud server. During this sprint, we will update this instance

[2018-11-15 10:47] romulogoncalves commented on #40
@elboyran it just to keep for the records :)
All issues got the same comment. Jisk is not joining the Sprint so any feedback from him should be collected before the Sprint.

[2018-11-15 10:49] romulogoncalves commented on #47
@rzinkstok is there project hours for this work? If yes, which one?

[2018-11-15 10:52] rzinkstok commented on #47
It's all part of EYRA, you need the project number/code for it?

[2018-11-15 10:53] elboyran commented on #40
@meiertgrootes, could you, please, take Jisk's knowledge? Who else can we drag in the team? Bouwe would be good, but he's part of the DynaSlum project/team. Not sure who else has experience in this. I think we need at least a 3rd person ;-) but not sure who that could be.

[2018-11-15 10:55] romulogoncalves commented on #47
Name is enough.

[2018-11-15 10:56] romulogoncalves commented on #40
@elboyran SatSense team will be in the same room as you so you can share knowledge. I will be available first day for brainstorming.

[2018-11-15 10:58] elboyran commented on #40
@romulogoncalves , thanks!

[2018-11-15 12:10] bldevries-escience commented on #35
Yes I would like to work on this project no problem. I already got into it last time. I probably have 2, maybe three days of the sprint available.

[2018-11-15 12:11] bldevries-escience commented on #24
I could work on this also... 2-3 days available. Let me know

[2018-11-15 12:18] NicoRenaud commented on #42
The project is DeepRank, there is still plenty of hours and I checked with Elena who's the project coordinator and she's ok with me spending a few hours writing the software paper.

[2018-11-15 12:51] romulogoncalves commented on #35
@bldevries-escience, Sonia will finish the paper until the sprint. During the sprint she plans to spend time on McFly. Hence, your expertise would be welcomed at SatSense for which you already showed your interest to join.

[2018-11-15 14:44] stijnh commented on #43
"PROCESS H2020 - PROviding Comp solutions ExaScale challengeS" (33017006) in Exact.

[2018-11-15 15:44] c-martinez commented on #37
Maybe Mediasuite -- but I think there aren't too many hours left. Could you check with @jiskattema ?

[2018-11-15 20:55] HannoSpreeuw commented on #22
Not on EOSCPfL any more.
But on PROCESS, hopefully. Please ask @jmaassen.

[2018-11-16 08:37] meiertgrootes commented on #40
@romulogoncalves @elboyran  Thanks! After discussion with Jisk and Stefan PostGIS seems the way to go. Access to someone with PostGIS experience would be very beneficial, but possibly given by SatSense team and @romulogoncalves on first day

[2018-11-16 10:09] jmaassen commented on #22
Writing the hours on PROCESS is fine, provided we can also use it as a demo for this project.

[2018-11-16 10:56] arnikz opened #48 "candYgene: pbg-ld platform"

[2018-11-16 13:11] sonjageorgievska commented on #12
@romulogoncalves  I just read the discussion. Looks like I am not really needed here, so I would rather work on the Arena paper if that is OK.

[2018-11-19 15:07] jvdzwaan opened #49 "TICCLAT"
The TICCLAT project is about extending TICCL, software that does ocr post correction and/or spelling correction and/or word normalization based on what word forms it sees in the corpus. In this project we want to run a number of experiments to evaluate the performance of different configurations of TICCL. The sprint will be about setting up the pipeline/infrastructure to run these experiments. We

[2018-11-20 09:47] jspaaks commented on #44
- [ ] Set up an instance of the Research Software Directory for PROCESS
- [ ] Set up an instance of the Research Software Directory for Ibis/JungleComputing
    - https://cs.vu.nl/ibis/index.html
- [x] Set up an instance of the Research Software Directory for [CCS Amsterdam](http://ccs.amsterdam/), http://ccs.amsterdam/tools-software/
    - [x] put this http://ccs.amsterdam/publications/ in a new

[2018-11-21 10:34] isazi commented on #23
Update. Ben worked on the paper, and the goal is to submit it to SoftwareX before the holidays.

[2018-11-22 13:39] egpbos commented on #49
# Main goal

Setup framework/pipeline for validating TICCL (+ extra metadata) given different configurations of input data and parameters.

# Data preparation

- DBNL data (from KB): XML file with corrected OCR'ed text (TEI format) + text file with uncorrected text + metadata
  * TEI format has footnotes/endnotes, references added, complex junk, needs to be cleaned / decided how to handle
  * Alig

[2018-11-22 14:02] arnikz commented on #37
@romulogoncalves @c-martinez we could write the hours on the #48 project

[2018-11-22 14:17] romulogoncalves commented on #48
@arnikz what is the project name?

[2018-11-24 01:40] meiertgrootes commented on #40
@elboyran @fdiblen
I've provided a list of resources below which hopefully will provide everyone with (a) A starting point for the data and tools likely to be required, (b) a starting point, building on previous NLeSC activities, for the aims of the sprint.

### Previous NLeSC Knowledge (Should be very relevant)
http://knowledge.esciencecenter.nl/content/pcdms_usage_guide.pdf

### eEcoLiDAR Github

[2018-11-26 09:05] jspaaks commented on #44
- [x] [3d-e-chem-knime-pharmacophore](https://research-software.nl/software/3d-e-chem-knime-pharmacophore)KNIME Pharmacophore
    - [x] short statement
    - [x] getting started
    - [x] citation
    - [x] bullets
    - [x] read more
    - [x] organizations
    - [x] projects
    - [x] contributors
- [ ] [3d-e-chem-knime-kripodb](https://research-software.nl/software/knime-kripodb) KNIME node for

[2018-11-26 12:13] vincentvanhees commented on #12
On our to do list for upcoming weeks:
Talk to @cwmeijer when he is back from annual leave about doing a survey among the October2018 mcfly workshop participants, similar to the survey we did after the workshop at the VU in December2017. This could be valuable input for the paper.

[2018-11-27 07:21] meiertgrootes commented on #40
@fdiblen @elboyran I've had 2 trains cancelled and will be in at ca. 09:35

[2018-11-27 08:00] elboyran commented on #40
I have meeting with Rob until 9:30. My bus is also late

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Meiert Willem Grootes <notifications@github.com>
Sent: Tuesday, November 27, 2018 8:21:52 AM
To: NLeSC/TEAM2018
Cc: Elena Ranguelova; Mention
Subject: Re: [NLeSC/TEAM2018] AHN2 + Kadastral data (#40)

@feilen<https://github.com/feilen> @elboyran<https://gi

[2018-11-29 15:22] jspaaks commented on #44
- PROCESS: https://ec2-34-221-149-172.us-west-2.compute.amazonaws.com/
- CCS Amsterdam: https://ec2-52-36-66-25.us-west-2.compute.amazonaws.com/

[2018-11-29 15:23] jmaassen commented on #44
aggregated quality metric
https://docs.google.com/spreadsheets/d/e/2PACX-1vQYWrg0Taw20qz_TrgbgbUaMYZFQFZWVcxAywOd6OPbW8KfnmBxulbY2WOufvktgebZmVsRuYYQwriS/pubchart?oid=2134606275&format=interactive

issue types:
https://docs.google.com/spreadsheets/d/e/2PACX-1vQYWrg0Taw20qz_TrgbgbUaMYZFQFZWVcxAywOd6OPbW8KfnmBxulbY2WOufvktgebZmVsRuYYQwriS/pubchart?oid=1573053544&format=interactive

[2018-11-29 15:27] sverhoeven commented on #13
Work done in sprint:
* @nielsdrost wrote draft introduction
* tried out the extension with other peoples THREDDS servers and found numerous bugs and hard to ignore improvements
* Started with audience and ecosystem write up at https://github.com/eWaterCycle/jupyterlab_thredds/tree/blog
* Investigated how to speed up crawling of THREDDS catalog (https://github.com/eWaterCycle/jupyterlab_thredds/iss

[2018-12-02 23:23] eriktks commented on #49
The results for the OCR evaluation part of the sprint can be found on this address: https://github.com/TICCLAT/evaluation_pipeline/tree/master/evaluation

[2018-12-12 08:18] romulogoncalves commented on #49
@jvdzwaan were all the goals achieved? Can we consider it done and close this issue?

[2018-12-12 08:19] romulogoncalves commented on #47
@rzinkstok were all the goals achieved? Could you summarize in 3 lines what was achieved? Can we consider it done and close this issue?

[2018-12-12 08:19] romulogoncalves commented on #46
@ridderl were all the goals achieved? Could you summarize in 3 lines what was achieved? Can we consider it done and close this issue?

[2018-12-12 08:20] romulogoncalves commented on #45
@ipelupessy were all the goals achieved? Could you summarize in 3 lines what was achieved? Can we consider it done and close this issue?

[2018-12-12 08:20] romulogoncalves commented on #43
@stijnh were all the goals achieved? Could you summarize in 3 lines what was achieved? Can we consider it done and close this issue?

[2018-12-12 08:20] romulogoncalves commented on #42
@NicoRenaud were all the goals achieved? Could you summarize in 3 lines what was achieved? Can we consider it done and close this issue?

[2018-12-12 08:21] romulogoncalves commented on #40
@meiertgrootes were all the goals achieved? Could you summarize in 3 lines what was achieved? Can we consider it done and close this issue?

[2018-12-12 08:21] romulogoncalves commented on #37
@c-martinez were all the goals achieved? Could you summarize in 3 lines what was achieved? Can we consider it done and close this issue?

[2018-12-12 08:21] romulogoncalves commented on #35
@sonjageorgievska were all the goals achieved? Could you summarize in 3 lines what was achieved? Can we consider it done and close this issue?

[2018-12-12 08:21] romulogoncalves commented on #24
@bouweandela were all the goals achieved? Could you summarize in 3 lines what was achieved? Can we consider it done and close this issue?

[2018-12-12 08:21] romulogoncalves commented on #22
@HannoSpreeuw were all the goals achieved? Could you summarize in 3 lines what was achieved? Can we consider it done and close this issue?

[2018-12-12 08:22] romulogoncalves commented on #15
@sverhoeven were all the goals achieved? Could you summarize in 3 lines what was achieved? Can we consider it done and close this issue?

[2018-12-12 08:22] romulogoncalves commented on #14
@goord were all the goals achieved? Could you summarize in 3 lines what was achieved? Can we consider it done and close this issue?

[2018-12-12 08:22] romulogoncalves commented on #13
@sverhoeven were all the goals achieved? Could you summarize in 3 lines what was achieved? Can we consider it done and close this issue?

[2018-12-12 08:22] romulogoncalves commented on #12
@vincentvanhees were all the goals achieved? Could you summarize in 3 lines what was achieved? Can we consider it done and close this issue?

[2018-12-12 08:37] HannoSpreeuw commented on #22
The dockerfile for the container that deploys the webportal was almost completed by Adithya. There is just one bug I need to fix.

It does not include staging yet, but that will be worked on within PROCESS. This is a major task.

Progress has been made wrt a demo: the reduction of an observation of at least 100 GB.
I believe that all the issues have been solved here. Waiting for my contact person

[2018-12-12 08:37] c-martinez commented on #37
We mostly worked on making the pbg-ld data available via an easy-to-deploy (docker-compose) infrastructure consisting of:
 - virtuoso containing the data
 - grlc server providing API to query data
 - jupyter notebook testing the queries

Still a few small adjustments to do for a final version of the SPARQL queries to be ready.

Anything to add @arnikz

[2018-12-12 08:54] jvdzwaan commented on #49
It's a work in progress and we'll continue the work in the project. The issue can be closed.

[2018-12-12 08:54] #49 closed

[2018-12-12 09:21] NicoRenaud commented on #42
Output of the Sprint:

1 - The draft of the software paper is in a correct state but not finished. I will beed a few more days to finalize it. I hope to finish it before the Christmas holidays.

2- The code itself has been improved in terms of quality, features and usability.

3 - A simple GPU kernel using shared memory for computing the random walk graph kernel has been written leading to a very

[2018-12-12 09:43] vincentvanhees commented on #12
On Monday (17 December) the sprint team will meet at 10 am to discuss status and next steps. Current status:
- We drafted the paper in overleaf for SoftwareX, and think it is nearly ready for submission to the journal. Sonja, Atze, Christiaan, Dafne, Florian and I provided input. Possibly we also want to discuss with Frank and MLCV sig.
- We went through and resolved a number of (small) mcfly issu

[2018-12-12 09:52] stijnh commented on #43
Yes, all goals were achieved. The literature study is part of larger paper and will also be part of my PhD project. I shall close the issue.

[2018-12-12 09:52] #43 closed

[2018-12-12 10:29] ipelupessy commented on #45
no, we decided to mostly cancel the sprint due to illness (I was not in most of the week), as it would not be very efficient (johan and felipe did not have previous experience with AMUSE)..

[2018-12-12 11:41] goord commented on #14
The software has not been released yet and the paper not submitted, but good progress has been made:
- Paper draft has been written, but still needs code examples and review from project partners
- Python API was made more user-friendly and OMUSE-compliant
- New functionality has been added to the wrapper, enabling the user to nudge the model through our interface.

I will close the issue after re

[2018-12-13 13:16] isazi commented on #23
We just submitted the paper to SoftwareX.

[2018-12-13 13:58] meiertgrootes commented on #40
The goals have largely been achieved.
-PostGIS infrastructures to select and export Kadaster Polygons is in place and works.
- Filtering using PDAL to enrich PC data has been demonstrated to work on trial data.

Remaining issue(s):
-point-in-polygon with PC size still slow even with limited polygons.
 Nevertheless, Calculation for all now tractable, although at significant computational expense.

[2018-12-17 10:05] vincentvanhees commented on #12
We discussed that for now we will focus on:
- Florian + Christiaan: add visualization to mcfly and create new mcfly release.
- Dafne: to make software description section of the paper read more like a story.
- Sonja: Check that we have a brief comparison with PAMAP2 literature in the paper this to show expected performance, but also acknowledge that this is not a standardised comparison.
- Vincent

[2018-12-17 12:13] vincentvanhees commented on #12
Update: I have now sent a reminder invitation for the workshop survey. Hopefully this will help to boost the response rate.

[2018-12-17 15:08] bouweandela commented on #24
Unfortunately not all goals were achieved, since we did not get as much help as anticipated, so it was mostly just Berend and me working on our own project. Ben helped out one morning, but was unavailable the rest of the week.

Nevertheless, we made good progress:
- Documentation is now available on [readthedocs](https://satsense.readthedocs.io)
- Test coverage was improved to [a reasonable 80%](h

[2018-12-18 12:06] rzinkstok commented on #47
- Set up a development pipeline, working on separate branches in the comic grandchallenges
- Set up PyCharm combining docker-compose support with the PyCharm django dev server (for debugging)
- Built a skeleton frontend using React
- Implemented basic API endpoints including swagger interface

[2018-12-18 12:06] #47 closed

[2018-12-21 07:58] sonjageorgievska commented on #35
Hi @romulogoncalves ,

Sorry, the github messages  were going to spam, I just created a new rule so I should be able to receive them.
The paper is ready for submission, we are contemplating on where to submit.
Therefore I will close the issue, thanks.

[2018-12-21 07:58] #35 closed

[2019-01-07 09:05] #23 closed

[2019-01-07 09:05] romulogoncalves commented on #26
@cwmeijer what is the status?

[2019-01-07 09:07] #40 closed

[2019-01-07 09:07] #42 closed

[2019-01-07 09:07] #37 closed

[2019-01-07 09:08] romulogoncalves commented on #24
@bouweandela let me know once the paper is submitted.

[2019-01-07 09:09] #45 closed

[2019-01-07 09:14] cwmeijer commented on #26
Processed some comments from first group of coauthors. Still need to make some bigger changes based on their comments. After that we'll send it to some more coauthors.

[2019-01-08 10:29] bouweandela commented on #24
Sure

[2019-01-10 14:00] cwmeijer commented on #12
Chris: Fix release + doi and update paper with correct release number
Florian: Create figure of architecture
Vincent: Update survey text in paper and contact Frank
Sonja: Choice of parameters. Give rationale.
All: Go through paper one more time
Dafne: Draft conclusion

[2019-01-14 08:49] vincentvanhees commented on #12
Can we delete the acknowledgement section?
I now have written "We would like to thank Attila Reiss for depositing the PAMAP2 dataset in the UCI Machine Learning Repository." but I am not sure this is necessary.

[2019-01-14 09:02] vincentvanhees commented on #12
Latex complains about reference:
@inproceedings{feurer_towards_2018,
	title = {Towards {Further} {Automation} in {AutoML}},
	booktitle = {{ICML} 2018 {AutoML} {Workshop}},
	author = {Feurer, M. and Hutter, F.},
	month = jul,
	year = {2018}
}
It has no page number, no doi and no url.
Can we replace this by a direct [URL](https://ml.informatik.uni-freiburg.de/papers/18-AUTOML-AutoAutoML.pdf) to the

[2019-01-15 09:54] florian-huber commented on #12
I added a model architecture figure and read the entire paper again.
I have mostly made a few very tiny corrections and found that it reads well. Together with Frank's first reaction it looks to me like the manuscript is nearly ready to go!

However, I found that there is one remaining problem (which I just realized now when I was reading everything again) which is the **missing axis labels in the

[2019-01-15 11:25] dafnevk commented on #12
Unfortuntaly this is (or at least was, at the time of programming those plots) not an easy problem to fix.
The 'solution' we chose is to have the values shown when you hover over the plot.
There is an issue in the mcfly repository for this: https://github.com/NLeSC/mcfly/issues/148

[2019-01-15 12:09] florian-huber commented on #12
Maybe we could then add axes to the printed version of the figure (for the paper) ?

[2019-01-21 09:43] vincentvanhees commented on #12
Possibly good to mention that [this (pdf)](https://www.elsevier.com/journals/softwarex/2352-7110?generatepdf=true) document on the softwarex website states that the maximum document length is 6 pages. We currently have 8, excluding references.

[2019-01-24 15:23] florian-huber commented on #12
@romulogoncalves The manuscript was submitted today to SoftwareX.

[2019-01-24 15:23] #12 closed

[2019-02-05 08:19] romulogoncalves commented on #26
@elboyran this issue is now out of our hands since the sprint was last year in September.
I will move it to you since you are the Coordinator of the project. From the TechLeads perspective It is important the paper gets submitted before the end of this T&D cycle.

[2019-02-05 08:20] romulogoncalves commented on #46
Without comments from @ridderl we will make the issue void.

[2019-02-05 08:20] #46 closed

[2019-02-05 08:21] romulogoncalves commented on #44
@jmaassen @jspaaks what can the TechLeads do here to make sure things are moving forward?

[2019-02-05 08:21] romulogoncalves commented on #24
@bouweandela what is the current status?

[2019-02-05 08:22] romulogoncalves commented on #22
@HannoSpreeuw what is the current status?

[2019-02-05 08:22] romulogoncalves commented on #15
@sverhoeven what is the current status?

[2019-02-05 08:22] romulogoncalves commented on #14
@goord what is the current status?

[2019-02-05 08:23] romulogoncalves commented on #13
@sverhoeven what is the current status?

[2019-02-05 08:23] romulogoncalves commented on #29
Ready for the external assessment.

[2019-02-05 08:24] romulogoncalves commented on #28
Ready for the external assessment.

[2019-02-05 08:24] romulogoncalves commented on #17
Ready for the external assessment.

[2019-02-05 08:40] sverhoeven commented on #15
An abstract was submitted to EGU 2019 conference.

[2019-02-05 08:41] sverhoeven commented on #13
An abstract has been tried to be submitted to EGU 2019 conference, but failed due to bureaucratic reason.

[2019-02-05 08:56] goord commented on #14
@romulogoncalves Python API is being made more complete, I am testing it on all known supported test cases of the model. The manuscript is nearly finished, we need to add code snippets and list the repositories involved. This work is being continued on project budget and is part of the eScience output.

[2019-02-05 09:07] meiertgrootes commented on #26
Currently (hopefully end this week mid next) we'll be through running laserchicken on the new retiled data. I would suggest prioritizing the paper from our side of the project then. I think Daniel would be in-line with that. @elboyran would that have your support?

[2019-02-05 09:17] romulogoncalves commented on #15
Excellent.

[2019-02-05 09:17] #15 closed

[2019-02-05 09:18] romulogoncalves commented on #13
For sure it can be re-submitted elsewhere with some re-edition. I consider the issue solved.

[2019-02-05 09:18] #13 closed

[2019-02-05 09:42] HannoSpreeuw commented on #22
The Docker build system for the container that can deploy a web service for one click processing of observations from the LOFAR LTA has been completed:
https://github.com/process-project/lofar-lta-one-click-processing

@rvanharen and me want to write a software paper about this before spring. So this will be about unlocking the LOFAR LTA and bridging the gap between data and astronomers by means o

[2019-02-05 09:43] jmaassen commented on #44
This is all being worked on in the RSD development which I'm managing. Lets close this issue.

[2019-02-05 09:43] #44 closed

[2019-02-05 13:22] romulogoncalves commented on #22
@HannoSpreeuw I think the major goals have been achieved. For the paper a new issue should be opened, and then managed within the project, i.e., it is out of the scope of the TEAM sprint.

What do you think? If you agree, I will close this issue.

[2019-02-05 13:28] HannoSpreeuw commented on #22
No, I don't agree. Writing a paper was explicitly mentioned as a goal when I created this issue. So that is not a new goal.

[2019-02-05 13:58] romulogoncalves commented on #22
Good point, then it remains open